#rc-meeting-create-page ion-button.rc-submit {
  margin: 0;
}

#rc-meeting-create-page ion-list.member {
  --max-height: 126px;
  --height: 126px;
  max-height: 126px;
  overflow-y: auto;
}

#rc-meeting-create-page ion-list.member ion-item {
  --min-height: 40px;
}

#rc-meeting-create-page ion-note {
  text-transform: capitalize;
  font-size: 16px;
}
